*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    margin: 0 auto; 
    background-color: rgb(7, 59, 65);
}

h1{
    text-align: center;
    color: white;
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: rgb(18, 137, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: rgb(7, 214, 160);
}

.yellow{
    background-color: rgb(255, 209, 102);
}

.red{
    background-color: rgb(241, 70, 111);
}